.ui-title
    font-family: $font-family.secondary
    color: $color.blue
    font-size 25px
    letter-spacing: 15px
    margin-bottom 70px
    &:first-line
        font-size 40px
        color: $color.white
        letter-spacing: 3px
    &.right
        text-align right
    &.center
        text-align center
    &.black
        &:first-line
            color: $color.black
    &.uppercase
        &:first-line
            text-transform uppercase